*{box-sizing: border-box;}
html,body{height: 100%;overflow:hidden;overflow-y: scroll;}
ul,li,ol{ list-style:none; }
a{text-decoration: none}
body{margin: 0;padding: 0;}
body>div{height: 100%;}
.page{height: 100%;}
::-webkit-scrollbar{width:0;height:0.0625rem}
::-webkit-scrollbar-thumb{
    border-radius:0.3125rem;
    // -webkit-box-shadow:inset 0 0 0.3125rem rgba(0,0,0,.2);
    background:rgba(0,0,0,.2)
}
fieldset, img,input,button { border:0 none; padding:0;margin:0;outline-style:none; }   /*去掉input等聚焦时的蓝色边框*/
// detail下的下弹窗
.popup{
    .mint-popup-bottom{
        height: 350px;
        width: 100%;
    }
}
// detail下的轮播
.detail .mint-swipe-indicators{
    display: none;
}
// datalist下的高亮
#datalist .cube-scroll-nav-bar-item_active{
    border-bottom:1px solid #fc9153;
}
// bigbox
.bigbox{
    display: flex;
    flex-direction: column;
    height:100%;
    .header{
        z-index: 10;
    }
    .bigcenter{
        flex:1;
        overflow-x: hidden
    }
    .bigfooter{
        height: 3rem;
    }
}
// detail下面的
#woqu{
    .cube-scroll-content{
        display: inline-block;
        .list-wrapper{
            display: flex;
            // white-space: nowrap;
            .list-item{
                margin:0.1875rem 0.3125rem 0.1875rem 0.3125rem;
                // float: left;
                width: 6.25rem;
                height: 9.75rem;
                display: inline-block;
                
                span{
                    font-size:0.75rem;
                }
                img{
                    width: 6.25rem;
                    height: 6.25rem;
                }
            }
        }

    }
}
// Mine下面的
#mine{
    .horizontal-scroll-list-wrap {
        height: 9.375rem;
        border-bottom: 0.0625rem solid #e8e8e8;
        margin: 0 0.625rem 0 0.625rem;
        .cube-scroll-content {
            display: inline-block;
        }
        .list-wrapper {
            white-space: nowrap;
        }
        .list-item {
            display: inline-block;
            height: 8.125rem;
            width: 7.5rem;
            margin: 0.1875rem 0.3125rem 0 0.3125rem;
            border-radius: 0.625rem;
            background: #ecebf0;
            img {
                display: block;
                width: 1.25rem;
                height: 1.25rem;
            }
            i {
                display: block;
                width: 1.875rem;
                height: 1.875rem;
                border-radius: 50%;
                background: #959cf7;
                margin: 0.625rem 0 0.625rem 0.625rem;
                padding: 0.3125rem 0 0 0.3125rem;
            }
            span {
                display: block;
                font-size: 0.75rem;
                padding-left: 0.625rem;
            }
        }
    }
}
// Classfiy下面的nav
#con{
    .cube-scroll-content{
        display: inline-block;
    }
    .list-wrapper{
        // padding: 0 0.625rem;
        // line-height: 3.75rem;
        white-space: nowrap;
    }
    .list-item{
        // float: left;
        display: inline-block;
    }
}
// Datalist下面的h2
.cube-scroll-nav-panel-title{
    // display: none;
    visibility:hidden;
}
// home组件下的轮播
#carousel{
    margin-top: 10px;
    // padding: 0 0.625rem;
    height: 6.125rem;
    .mint-swipe{
        overflow: visible;
    }
    .mint-swipe-items-wrap{
        border-radius: 0.3125rem;
    }
    .mint-swipe-item{
        img{
            height: 6.125rem;
            width: 100%;    
            border-radius: 0.3125rem;
        }
    }
    .mint-swipe-indicators{
        bottom: -1.25rem;
    }
    .mint-swipe-indicator {
        width: 0.9375rem;
        height: 0.1875rem;
        display: inline-block;
        border-radius: 0;
        background: #000;
        opacity: 0.2;
        margin: 0 0.1875rem;
        
    }
    .mint-swipe-indicator.is-active{
        background: #007aff;
        opacity: 1;
    }
}
// home组件下的热销产品
#hotgoods{
    h2{
        font-family: SimHei,Helvetica,Arial,sans-serif;
        font-size: 1.125rem;
        color: #4d4e58;
        font-weight: 900;
        margin:1.25rem 0;
    }
    .cube-scroll-content{
        display: inline-block;
    }
    .list-wrapper{
        // padding: 0 0.625rem;
        // line-height: 3.75rem;
        white-space: nowrap;
    }
    .list-item{
        // float: left;
        display: inline-block;
        width: 5.3125rem;
        padding: .3125rem;
        border: 0.0625rem solid #eff1f7;
        border-radius: 0.3125rem;
        margin-right: .625rem;
        img{
            width: 4.5625rem;
            height: 4rem;
        }
        .hot_title{
            font-size: 0.75rem;
            height: 0.9375rem;
            margin-top:.625rem;
            overflow: hidden;
            -webkit-line-clamp: 1;
            color: #4d4e58;
            word-break: keep-all;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .hot_price{
            font-size: 0.75rem;
            height: 0.9375rem;
            color: #ff6b5f;
            margin-top: 0.3125rem;
            font-family: SimHei,Helvetica,Arial,sans-serif;
            font-weight: 600;
        }
    }
}
// 屏幕适配
html{
    font-size: 16px;
}
@media only screen and (min-width: 320px) and (max-width: 374px) {
    html {
        font-size: 16px !important;
    }
}

@media only screen and (min-width: 375px) and (max-width: 413px) {
    html {
        font-size: 18.75px !important;
    }
}

@media only screen and (min-width: 414px) and (max-width: 767px) {
    html {
        font-size: 20.7px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 38.4px !important;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1241px) {
    html {
        font-size: 51.2px !important;
    }
}